/* ===========================================================================
==== HELPER AND MODIFIER CLASSES
============================================================================== */
.left {
  float: left;
}

.right {
  float: right;
}

.no-float {
  float: none;
}

// /* FOR WORDPRESS SITES
// ------------------------------------------------------------------------------ */
// .align-right {
//     text-align: right;
// }

// .align-center {
//     text-align: center;
// }

// img.align-left {
//     float: left;
//     margin-right: 20px;
//     margin-bottom: 20px;
// }

// img.align-right {
//     float: right;
//     margin-left: 20px;
//     margin-bottom: 20px;
// }

// img.align-center {
//     margin: 0 auto;
// }