/* ===========================================================================
==== GLOBAL ELEMENTS
============================================================================== */
body {
  background: $grey;
  font-family: $font-stack;
}

h1, h2, h3, h4 {
  line-height: 1;
}

blockquote {
  margin-top: 0;
  margin-bottom: 0;
}

p {

}

a {
  color: #222;
  text-decoration: none;
}

a:hover, a:focus, a:active {

}

ul, ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {

}