/* ===========================================================================
==== FOOTER
============================================================================== */
.footer {
  background: $grey;
  padding: 1em;
  text-align: center;

  p:last-of-type {
    margin-bottom: 0;
  }
}