/* ===========================================================================
==== HEADER
============================================================================== */
.header {
  padding: 1em 0;

  img {
    display: block;
    margin: 0 auto;
  }
}