/* ===========================================================================
==== HOME PAGE STYLES
============================================================================== */
.column {
  margin-bottom: 2em;
  text-align: center;
  width: 100%;

  @include brk-med {
    float: left;
    width: 33.33333%;
  }

  h1 {
    border-bottom: 4px solid $primary;
    display: inline-block;
    margin-bottom: .25em;
  }
}