/* ===========================================================================
==== HOME PAGE STYLES
============================================================================== */
.main {
  background: $background;
  overflow: auto;
  padding: 1em;

  @include brk-med {
    padding-top: 2em;
  }
}

.tagline {
  color: $primary;
  line-height: 1.25;
  margin: .5em auto 0;
  font-size: 2em;
  text-align: center;

  @include brk-med {
    font-size: 2.5em;
    max-width: 20em;
  }
}

.intro-copy {
  font-size: 1.25em;
  margin: 0 auto 2em;

  @include brk-med {
    margin-bottom: 3em;
    max-width: 80%;
  }

  @include brk-large {
    max-width: 35em;
  }
}

.group {
  margin-bottom: 2em;
  text-align: center;
  width: 100%;

  @include brk-med {
    float: left;
    padding: 0 1em;
    width: 33.33333%;
  }

  h2 {
    border-bottom: 4px solid #e888ba;
    margin: 0 auto;
    margin-bottom: .5em;
    width: 50%;

    @include brk-small {
      width: 33%;
    }

    @include brk-med {
      width: 75%;
    }

    @include brk-large {
      width: 66%;
    }

    @include brk-xlarge {
      width: 45%;
    }
  }
}

.cta-link {
  background: $primary;
  border: 3px solid $primary;
  color: #fff;
  display: inline-block;
  margin-bottom: 1em;
  padding: .25em .5em;
  position: relative;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  transition: border-color 0.3s 0.2s;
  z-index: 1;

  &:after {
    background: #fff;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
    width: 0;
    z-index: -1;
  }

  &:hover, &:focus, &:active {
    background: none;
    border-color: #fff;
    color: $grey-dark;

    &:after {
      width: 100%;
    }
  }
}

.text-link {
  border-bottom: 1px dotted $primary;
  color: $primary;

  &:hover {
    border-bottom: 1px solid $primary;

  @include brk-large {
    padding: 0 2em;
  }

  h1 {
    border-bottom: 4px solid $primary;
    display: inline-block;
    margin-bottom: .25em;
  }

  li {
    display: inline-block;

    &:after {
      content: "\00B7";
      padding-left: 1em;
      padding-right: .75em;
    }
  }
}